@font-face {
  font-family: 'mesmerize';
  src: url('mesmerize.ttf');
}
.music_div {
  height: 33.33%;
  color: white;
  width: 100%;
  border-radius: 7.5px;
  text-align: left;
}
.music_div .music_title {
  height: auto;
  background: #3A4043;
  width: auto;
  padding-left: 10px;
}
.music_div .music_title table tr {
  height: auto;
  width: 100%;
}
.music_div .music_title table tr td {
  width: 50%;
  font-family: 'mesmerize';
}
